
  <nb-card>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Consultar Apps por extracto de url PP" >
          <div style="width:50%" *ngIf="contentForm" [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">
            <nb-card-body>
              <div class="input-group input-group-border-only">
                <input type="text" placeholder="keyword" [(ngModel)]="keyword" class="form-control"/>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="extractsLink" placeholder="Extract Link">
                <span class="input-group-append">
                  <button class="btn btn-danger input-group-text" (click)="addExtractsLink()">
                    Añadir
                  </button>
                </span>
              </div>
              <nb-card *ngIf="extractsLinkArray.length>0">
                <nb-list>
                  <nb-list-item *ngFor="let extractsLink of extractsLinkArray;let i=index">
                      <span>{{ extractsLink }}</span>
                      <i (click)="deleteExtracts(i)" class="ion-trash-b float-right" title="eliminar"></i>
                  </nb-list-item>
                </nb-list>
              </nb-card>
              <button class="btn btn-success" (click)="getScriptAppsGplay()">Consultar</button>
            </nb-card-body>
          </div>
          <div>
            <div class="header" *ngIf="contentDT">
              <button class="btn btn-success float-left" title='Guardar Busqueda' (click)="saveQueryAppsGplay('link')">Guardar</button>
              <i class="ion-close-round float-right" title='Cerrar' (click)="hiddenTable()"></i>
            </div>
            <table id="tableId"  #dataTable class="display" style="width:100%"></table>
          </div>
        </nb-tab>

        <nb-tab tabTitle="Consultar Apps por extracto de content PP">
          <div style="width:50%" *ngIf="contentFormContent" >
            <nb-card-body>
              <div class="input-group input-group-border-only">
                <input type="text" placeholder="keyword" [(ngModel)]="keywordContent" class="form-control"/>
              </div>
              <!-- <nb-select placeholder="Select Showcase" [(selected)]="selectedItem">
                  <nb-option value="0">Seleccione Rango de Consulta</nb-option>
                  <nb-option value="1">0-49</nb-option>
                  <nb-option value="2">50-99</nb-option>
                  <nb-option value="3">100-149</nb-option>
                  <nb-option value="4">150-199</nb-option>
                  <nb-option value="5">200-250</nb-option>
                </nb-select> -->
              <div class="input-group">
                <textarea class="form-control" rows="5" [(ngModel)]="extractsContent" name="text" placeholder="Extract Content"></textarea>
                <!-- <input type="text" class="form-control" [(ngModel)]="extractsContent" placeholder="Extract Content"> -->
                <span class="input-group-append">
                  <button class="btn btn-danger input-group-text" (click)="addExtractsContent()">
                    Añadir
                  </button>
                </span>
              </div>
              <nb-card *ngIf="extractsContentArray.length>0">
                <nb-list>
                  <nb-list-item *ngFor="let extractsContent of extractsContentArray;let i=index">
                      <span>{{ extractsContent }}</span>
                      <i (click)="deleteExtractsContent(i)" class="ion-trash-b float-right" title="eliminar"></i>
                  </nb-list-item>
                </nb-list>
              </nb-card>
              <button class="btn btn-success" (click)="getScriptAppsGplayContent()">Consultar</button>
              <button class="btn btn-danger confirm-btn" (click)="resetform()">Reiniciar</button>
            </nb-card-body>
          </div>
          <div>
            <div class="header" *ngIf="contentDTContent">
              <button class="btn btn-success float-left" title='Guardar Busqueda' (click)="saveQueryAppsGplay('content')">Guardar</button>
              <i class="ion-close-round float-right" title='Cerrar' (click)="hiddenTableContent()"></i>
            </div>
            <table id="tableIdContent"  #dataTableContent class="display" style="width:100%"></table>
          </div>
        </nb-tab>
      </nb-tabset>
  
    </nb-card-body>
  </nb-card>
