/* @import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints'; */

.input-group {
    margin-bottom: 1rem;
  }
.header {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
  }
  :host nb-tab {
    padding: 1.25rem;
  }
  :host nb-select {
    margin-bottom: 10px;
    /* width: 15rem;
    height: 15rem; */
  }